
<p class="message green" id="message">
  <%=@message%>
  <i id="close-message" class="fa fa-times" aria-hidden="true" onclick="closeMessage()"></i>
</p>

<div class="input-center">

  <h1 class="transaction-title">New Transaction Input</h1>



  <%= form_tag({controller: "input", action: "create"}, method: "post", id:"transaction-form", onsubmit:"return verifyTransaction()", last_controller: "input", last_action: "new") do %>

    <div class="transaction-input-container">
      <div class="transaction-icon-container">
        <i class="fa fa-usd transaction-icon"></i>
      </div>
      <%= text_field_tag(:amount, "" , class: "transaction-amount-input", placeholder: "0.00", onkeydown: "if (event.which === 13) return false", onkeyup: "validateAmount(event.which, this)", autofocus: true, autocomplete: "off") %>
    </div>

    <br></br>
    <div class="transaction-table-container">
    <table tabindex="0", class="transaction-category-table" onkeydown="selectCategoryByKey(event.which, 'down')" onkeyup="selectCategoryByKey(event.which, 'up')">

      <% (0..@category_order.length - 1).each do |index| %>

        <% if index % 8 == 0 then %>
          <tr class="transaction-category-row">
        <% end %>

        <td class="transaction-icon-data" title="<%= @category_order[index].capitalize %>">

          <div
            class="transaction-category-icon-container"
            id="category-type-<%= @category_order[index] %>"
            style="background-color: <%= @categories[@category_order[index]][:color] %>"
            data-category="<%= @category_order[index] %>"
            data-icon="<%= @categories[@category_order[index]][:icon] %>"
            data-color="<%= @categories[@category_order[index]][:color] %>"
            onmouseover="lightenUp(this)"
            onmouseout="revertColor(this)"
            onmouseup="selectCategory(this)"
            onmousedown="document.getElementsByClassName('transaction-category-table')[0].style.borderColor = '#FFFFFF'"
          >

            <span class="transaction-category-icon fa fa-<%= @categories[@category_order[index]][:icon]%> " aria-hidden="true"></span>
            <span class="transaction-category-char">[ <%= @char[index] %> ]</span>

          </div>

        </td>

        <% if index % 8 == 7 then %>
          </tr>
        <% end %>


      <% end %>

    </table>
  </div>

    <%= text_field_tag(:category, "", class: "transaction-category-input") %>

    <div class="transaction-input-container">
      <div class="transaction-icon-container">
        <i class="fa fa-tag transaction-icon"></i>
      </div>
      <%= text_field_tag(:description, "" , class: "transaction-name-input", placeholder: "Description", onkeydown: "if (event.which === 13) return false", onkeyup: "validateDescription(event.which, this)", autocomplete: "off") %>
    </div>

    <div class="transaction-location-container">
      <div class="transaction-icon-container transaction-valid" title="Optional">
        <i class="fa fa-map-marker transaction-icon"></i>
      </div>
      <%= text_field_tag(:location, "" , class: "transaction-location-input", id: "transaction-location-input", placeholder: "Location", autocomplete: "off", onkeydown: "if (event.which === 13) return false", onkeyup: "if (event.which === 13) document.getElementById('transaction-date-input').focus()") %>
    </div>

    <div class="transaction-input-container">
      <div class="transaction-icon-container transaction-valid" title="Optional">
        <i class="fa fa-calendar transaction-icon"></i>
      </div>
      <%= text_field_tag(:date, "" , class: "transaction-date-input", id: "transaction-date-input", readonly: true, onkeyup: "if (event.which === 13) document.getElementById('transaction-form').submit()") %>
    </div>

    <%= hidden_field_tag(:latitude, "", id: "transaction-latitude-input") %>
    <%= hidden_field_tag(:longitude, "", id: "transaction-longitude-input") %>

    <br></br>

    <table class="transaction-example">


        <tr>
          <td class="icon-data">
            <div class="category-icon-container" style="background-color: #AAAAAA">
              <span class="category-icon fa fa-question" aria-hidden="true"></span>
            </div>
          </td>
          <td><div class="location-data">Location name</div></td>
          <td><div class="category-data">Category</div></td>
          <td><div class="amount-data"><%= number_to_currency(0) %></div></td>
        </tr>

    </table>

    <br></br>

    <div class="transaction-submit-container">
      <input type="submit" name="commit" value="Save transaction" id="entry-signup-button" class="transaction-submit-button"></input>
    </div>

    <br></br>

  <% end %>

</div>

<script>
  var datepicker = new Pikaday({
      field: document.getElementById('transaction-date-input'),
      format: 'D MMM YYYY',
      maxDate: new Date()
  });
  datepicker.setDate(new Date());
</script>

<script>
var autocomplete, geocoder, initial_location;

function initAutocomplete() {

  geocoder = new google.maps.Geocoder();
  autocomplete = new google.maps.places.Autocomplete(
    (document.getElementById('transaction-location-input')), {
      types: ['establishment']
    });

  autocomplete.addListener('place_changed', fillInAddress);

  var default_circle = new google.maps.Circle({
    center: {lat: 49.2827, lng: -123.1207},
    radius: 1000
  })
  autocomplete.setBounds(default_circle.getBounds());
  currentLocation();
}

function currentLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      var circle = new google.maps.Circle({
        center: geolocation,
        radius: 1000
      });
      autocomplete.setBounds(circle.getBounds());
    });
  }
}

function codeAddress(address) {
  geocoder.geocode({
    'address': address
  }, function(results, status) {
    if (status == 'OK') {
      document.getElementById("transaction-latitude-input").value = results[0].geometry.location.lat();
      document.getElementById("transaction-longitude-input").value = results[0].geometry.location.lng();
    } else {
      document.getElementById("transaction-latitude-input").value = "";
      document.getElementById("transaction-longitude-input").value = "";
    }
  });
}

function fillInAddress() {
  var place = autocomplete.getPlace();
  codeAddress(document.getElementById('transaction-location-input').value);
}

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ3wyaZIOpGodrpSDMQ5WGLDLTNgHibcI&libraries=places&callback=initAutocomplete">
</script>
