<p><%=@message%></p>
<!-- <center><h1 id="transaction-history">Transaction History</h1></center> -->


<div class="history-center">

  <% if !@empty then %>

  <table class="history-button-table">
  <tr>

  <div class="month-dropdown">
    <button class="month-dropdown-button"><%= @formatted_month %></button>
    <div class="month-dropdown-content">
      <% @month_range.each do |month| %>
        <%
        current_formatted_month = Date::MONTHNAMES[month[:month]] + " " + month[:year].to_s
        if current_formatted_month == @formatted_month then
          next
        end
        %>
        <%= link_to current_formatted_month, {controller: "history", action: "index", month: month[:month], year: month[:year], order: @order}%>
      <% end %>
    </div>
  </div>

  <% if @order == "latest" then %>
    <% if @next_month.present? then %>
      <%= link_to "Next month", {controller: "history", action: "index", month: @next_month, year: @next_year, order: @order}, class: "link-button other-month"%>
    <% end %>
    <%= link_to "Latest transactions", {controller: "history", action: "index", month: @selected_month, year: @selected_year, order: "earliest"}, class: "link-button change-order" %>
  <% else %>
    <% if @previous_month.present? then %>
      <%= link_to "Previous month", {controller: "history", action: "index", month: @previous_month, year: @previous_year, order: @order}, class: "link-button other-month" %>
    <% end %>
    <%= link_to "Earliest transactions", {controller: "history", action: "index", month: @selected_month, year: @selected_year, order: "latest"}, class: "link-button change-order" %>
  <% end %>

  </tr>
  </table>
  <% if @transaction_days.length > 0 then %>
    <h1 class="history-header">Month transactions: <%= @total_items %></h2>
      <h1 class="history-header">Month total: <%= number_to_currency(@total_amount) %></h2>
  <% else %>
    <h1>No transactions recorded for this month</h1>
    <h1>Add transactions using the input tab, or by syncing with Plaid</h1>
  <% end %>

  <div class="list">
    <% @transaction_days.each do |day| %>
      <h2></h2>
      <table class="transactions-header">
        <tr>
          <%
            total = 0
            items = 0
            day[:transactions].each do |t|
              total += t.amount
              items += 1
            end
          %>

          <td><%= day[:date].strftime("%A, %B %d").sub(/ 0/, ' ') %> </th>
          <td>Transactions: <%= items %></th>
          <td>Total: <%= number_to_currency(total)%></th>
        </tr>
      </table>

      <table class="transactions-day">
        <% day[:transactions].each do |transaction| %>


          <tr>
            <td class="icon-data">
              <div class="category-icon-container" style="background-color: <%= @categories[transaction.category][:color] %>">
                <span class="category-icon fa fa-<%= @categories[transaction.category][:icon]%> " aria-hidden="true"></span>
              </div>
            </td>
            <td><div class="location-data"><%= transaction.location_name %></div></td>
            <td><div class="category-data"><%= transaction.category.capitalize %></div></td>
            <td><div class="amount-data"><%= number_to_currency(transaction.amount) %></div></td>
          </tr>
        <% end %>

      <table>
    <% end %>
  </div>
  <br></br>

  <% if @order == "earliest" then %>
    <% if @next_month.present? then %>
      <%= link_to "Next month", {controller: "history", action: "index", month: @next_month, year: @next_year, order: @order}, class: "centered link-button other-month "%>
    <% end %>
  <% else %>
    <% if @previous_month.present? then %>
      <%= link_to "Previous month", {controller: "history", action: "index", month: @previous_month, year: @previous_year, order: @order}, class: "centered link-button other-month" %>
    <% end %>
  <% end %>

  <% else %>
    <h1 class="history-empty">No transactions found</h1>
    <h1 class="history-empty">Add transactions using the input tab, or by syncing with Plaid</h1>
  <% end %>

  <br></br>
</div>
