<h1>Manage Users</h1>
<p><%=@message%></p>
<table>
  <thead>
    <tr>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
      <th>isAdmin</th>
      <th colspan="2">Operations</th>
    </tr>
  </thead>

  <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.created_at %></td>
          <td><%= user.updated_at %></td>
          <td><%= user.username %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.admin %></td>
          <td><%= link_to 'Edit User', {:action => 'edit', :user_id => user.id, :username => user.username, :first_name => user.name, :email => user.email, :admin => user.admin, :created_at => user.created_at, :updated_at => user.updated_at}%></td> <!--sets the admin field of this user to true -->
          <td><%= link_to 'Delete', {:action => 'delete', :user_id => user.id, :username => user.username, :first_name => user.name, :email => user.email, :admin => user.admin, :created_at => user.created_at, :updated_at => user.updated_at}%></td> <!--deletes this user -->

        </tr>
      <% end %>
  </tbody>
</table>
