<p class="message green" id="message">
  <%=@message%>
  <i id="close-message" class="fa fa-times" aria-hidden="true" onclick="this.parentNode.innerHTML = ''"></i>
</p>

<p class="message red" id="message">
  <%=@error%>
  <i id="close-message" class="fa fa-times" aria-hidden="true" onclick="this.parentNode.innerHTML = ''"></i>
</p>

<div class="account-center">
  <br></br>
  <h1 class="account-header">Change Password</h1>
  <br></br>

  <%= form_tag({controller: "account", action: "make_password_change"}, method: "post", onsubmit:"return verify_password()") do %>

    <div class="entry-input-container">

      <div class="entry-icon-container">
        <div class="entry-tooltip">
          <span id="entry-tooltip-current-password" class="entry-hidden"></span>
        </div>
        <img id="current-password-icon" src="<%= asset_path("password.svg") %>" class="entry-icon"></img>
      </div>

      <%= password_field_tag(:current_password, nil, id: "entry-input-current-password", class: "entry-input", placeholder: "Current password", onchange: "validateInput(this, 'password')", onkeyup: "delayedValidateInput(this, 'password')") %>

    </div>

    <div class="entry-input-container">

      <div class="entry-icon-container">
        <div class="entry-tooltip">
          <span id="entry-tooltip-password" class="entry-hidden"></span>
        </div>
        <img id="password-icon" src="<%= asset_path("password.svg") %>" class="entry-icon"></img>
      </div>

      <%= password_field_tag(:new_password, nil, id: "entry-input-password", class: "entry-input", placeholder: "New password", onchange: "validateInput(this, 'password')", onkeyup: "delayedValidateInput(this, 'password')") %>

    </div>

    <div class="entry-input-container">

      <div class="entry-icon-container">
        <div class="entry-tooltip">
          <span id="entry-tooltip-confirm-password" class="entry-hidden"></span>
        </div>
        <img id="confirm-password-icon" src="<%= asset_path("password.svg") %>" class="entry-icon"></img>
      </div>

      <%= password_field_tag(:confirm_password, nil, id: "entry-input-confirm-password", class: "entry-input", placeholder: "Confirm new password", onchange: "validateInput(this, 'confirm-password')", onkeyup: "delayedValidateInput(this, 'confirm-password')") %>

    </div>

    <div class="entry-input-container">
      <input type="submit" name="commit" value="Save new password" id="entry-signup-button" class="entry-submit-button"></input>
    </div>

    <br></br>

  <% end %>

  </div>
</div>
