<h1>Edit Account</h1>

  <p><%=@message%></p>
<div class="admin_class">

<%= form_tag account_make_edit_path do %>
  <label for="username">Username: </label>
    <div class="field"><%= text_field_tag :username, @username%></div>
  <label for="first_name">First Name: </label>
    <div class="field"><%= text_field_tag :first_name, @first_name%></div>
  <label for="email">Email: </label>
    <div class="field"><%= text_field_tag :email, @email%></div>

  <%= hidden_field_tag :userID, @id %>

  <%= submit_tag "Submit", data: {confirm: "Are you sure?"}%>
<% end %>


</div>
<!--
<p>Current User ID = <%=@id%></p>
<p>Username = <%=@username%></p>
<p>First Name = <%=@first_name%></p>
<p>Email = <%=@email%></p>
-->
