<p class="message" id="message">
  <%=@message%>
  <i id="close-message" class="fa fa-times" aria-hidden="true" onclick="closeMessage()"></i>
</p>
<h1>Linked Institutions</h1>
<p>Please select a bank account</p>
<p>Automatically syncing Account Balances and Transaction History coming soon!<p>

<!-- remove these later, for testing purposes only -->
<!--<p>Account Balance = <%=@balance%><p>-->


<!--<p>Access Token = <%=@access_token%></p>-->
<!--<p>Item ID = <%=@item_id%></p>-->


<ul id="bank-accounts">
  <!-- Use an erb for-loop to loop through elements and create list -->
  <% pos = 0 %>
  <% @items.each do |i| %> <!-- loop through the user's items and create a link to the item -->
    <li class ="bank-accounts-li"><div class="bank-account-container"><%= link_to i["institution_name"], controller: "bank_sync", action: "show_item", item_id: @item_id_array[pos] %></div></li>
    <% pos+=1 %>
  <% end %>
<!--
  <li class ="bank-accounts-li"><div class="bank-account-container"><%= link_to "TD Bank", controller: "bank_sync", action: "show_item"%></div></li>
  <li class ="bank-accounts-li"><div class="bank-account-container">Bank of Montreal</div></li>
  <li class ="bank-accounts-li"><div class="bank-account-container">Royal Bank of Canada</div></li>
-->
</ul>
