<p class="message" id="message">
  <%=@message%>
  <i id="close-message" class="fa fa-times" aria-hidden="true" onclick="closeMessage()"></i>
</p>
<h1 class="bank-sync-title"><%= @institution_name%></h1>
<h1 class="total-account-balance"> Total Account Balance: $<%= @total_account_balance %></h1>
<p style="padding-left: 2.5%;"> Created At: <%= @created_at %></p>
<div style="padding-left: 2.5%;"><%= button_to "Update Bank Transactions", {controller: "bank_sync", action: "load_new_transactions", account_ids: @account_ids, access_token: @access_token}, id: "update-bank-transactions" %></div>


<div class="table-container">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mask</th>
      <th>Current Balance</th>
      <th>Account Type</th>
      <th>Account Sub-Type</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
      <% @bank_accounts.each do |acc| %>
        <tr>
          <td><%= acc.name %></td>
          <td><%= acc.mask %></td>
          <td><%= "%.2f" % acc.current_balance %></td>
          <td><%= acc.account_type %></td>
          <td><%= acc.account_subtype %></td>
          <td><%= acc.created_at %></td>
          <td><%= acc.updated_at %></td>
          <td><%= link_to 'More Details', {:action => 'show_account_details', :bank_id => acc.id, :institution_name => @institution_name}%></td>

        </tr>
      <% end %>
  </tbody>
</table>
</div>
